[2021-07-09 00:32] jmmaranan opened #1 "feat(window-mgt): navigate windows via vim/directional keys"
Use `<Super>` + vim or directional keys to navigate windows:

- `h / left arrow` keys - move focus to left of currently focused window
- `j / down arrow` keys - move focus to bottom of currently focused window
- `k / up arrow` keys - focus window to top of currently focused window
- `l / right arrow` keys - focus window to right of currently focused window

[2021-07-09 00:39] jmmaranan opened #2 "feat(window-effects, keybindings): highlight currently active/focused window"
- [x] Add an indicator or highlight on the currently focused window.
- [x] Make it toggable via `<Super>+x`.

[2021-07-09 00:43] jmmaranan opened #3 "feat(window-mgt, keybindings): handle floating windows"
- [x] Toggle float Window via title `<Super> + c` and add `wm_class` and `wm_title` to floating overrides config file.
- [x] Toggle float Window and its entire `wm_class` via `<Super> + <Shift> + c`  and add `wm_class` to floating overrides config file.

 see #15

[2021-07-09 00:52] jmmaranan opened #4 "feat(window-mgt, keybindings): handle split containers horizontally/vertically"
Control where new window would appear, horizontally or vertically against a focused window. This is inspired by i3-wm:

- [x] Use `<Super> + z` to ready create a horizontal split.
- [x] Use `<Super> + v` to ready create a vertical split.
- [x] Highlight the direction of the split

Document any conflicting keybindings on the gnome.wm or desktop.wm dconf

[2021-07-09 19:22] jmmaranan opened #5 "feat: handle window resizing via mouse and keyboard"
Ability to drag the edges of a window and resize the containers using a mouse or keyboard.
For keyboard resize, use vim (`hjkl`) or arrow directional keys.

[2021-07-18 18:33] jmmaranan opened #6 "feat: handle workspace / display monitor updates"
- [x] Update tree when workspace changes: static and dynamic
- [x] Update tree when monitor or display changes
- [x] Handle moving windows to different workspaces
- [x] Handle moving windows to different monitors or displays

[2021-07-18 18:38] #6 closed, assigned to jmmaranan

[2021-07-18 18:41] jmmaranan opened #7 "feat: handle enable/disable of the extension"
- [x] Cleanup the signals on disable
- [x] Rebind the signals on enable
- [x] Remove the active window border on disable
- [x] Show the active window border on enable
- [x] Remove any keybindings on disable
- [x] Rebind any keybindings on enable

[2021-07-18 18:46] jmmaranan opened #8 "feat: handle window position editing / swapping"
- [x] Able to swap windows via mouse
- [x] Able to swap windows via keyboard
- [x] Able to drag/drop windows on workspace thumbnails
- [x] Able to drag/drop windows on any display

[2021-07-18 20:31] #7 closed, assigned to jmmaranan

[2021-07-27 02:52] #1 closed, assigned to nobody

[2021-07-31 13:07] jmmaranan opened #9 "does not handle empty splits on minimize window or when floating windows"
The empty split bin needs to be cleared when the last window child gets minimized _or_ consider the parent `St.Bin` to be minimized along with the window to retain the position in the tree?

[2021-07-31 13:13] jmmaranan opened #10 "does not handle dynamic workspaces option in Tweaks"
When the **dynamic workspaces** is turned on in GNOME Tweaks or gsettings, and moving windows in and out of workspaces sometimes produces display glitches _after_ introducing the container splits:

- Windows overlap each other
- Windows gets detached on the tree

[2021-07-31 16:14] #10 closed, assigned to jmmaranan

[2021-08-01 00:33] #8 closed, assigned to jmmaranan

[2021-08-01 19:17] jmmaranan opened #11 "dragging floating windows should not swap places in the tree"
When a window is floated via `<Super> + c`, noticed that the floating window can swap places with the window underneath. This should not happen.

[2021-08-01 19:33] #11 closed, assigned to jmmaranan

[2021-08-01 19:40] jmmaranan opened #12 "feat: implement prefs.js"
Add the following configurable settings in prefs.js, with the ability to:

- [x] Adjust keyboard shortcuts
- [x] Adjust window gaps sizes
- [x] Open up prefs.js via `<Super> + .`
- [x] Adjust developer logging levels

The idea is to self-contain the UI for the options - so it can be available for users in any distro that is using Gnome-Shell.

[2021-08-01 19:51] jmmaranan opened #13 "feat: implement panel icon"
Capability to see the panel icon for the following:

- [x] tiling toggle in panel button
- [ ] workspace tiling toggle in panel button
- [ ] workspace layout mode in panel button
- [x] open prefs shortcut in panel button
- [x] show version number in panel button

[2021-08-01 19:58] jmmaranan opened #14 "do not swap windows on overview"
When overview is opened, and mouse is moved to another window than previous, the previous and currently highlighted window gets swapped when closing the overview.

[2021-08-01 21:46] #4 closed, assigned to jmmaranan

[2021-08-01 23:14] jmmaranan opened #15 "feat: implement floating window exceptions"
Add capability to exempt some windows from being tracked for layout (tiling, tabbed or stacked) by Forge:

- [x] Provide a keyboard shortcut to exempt the current window (`<Super> + e`) or its entire wm_class (`<Super><Shift> + e`).
- [x] Exempt Forge window components by default. Users can still update these.
- [x] Open the prefs.js, tabbing to the Exemptions section by default. Keyboard shortcut

[2021-08-04 10:40] jmmaranan opened #16 "handle 3-36 compatibility"
The grab_accelerator API was different in gnome-shell 3.36 than when Forge started at gnome 3.38

[2021-08-06 12:04] #14 closed, assigned to jmmaranan

[2021-08-06 12:07] #16 closed, assigned to jmmaranan

[2021-08-06 12:10] jmmaranan opened #17 "seeing an empty split when deeply nested and closing some windows"
Will add reproduce steps here

[2021-08-07 01:06] #17 closed, assigned to jmmaranan

[2021-08-07 21:25] jmmaranan opened #18 "feat: implement layout toggle"
When pressing `<Super> + g`, toggle the split layout to horizontal or vertical

[2021-08-07 21:43] #18 closed, assigned to jmmaranan

[2021-08-08 01:02] #9 closed, assigned to jmmaranan

[2021-08-09 00:10] jmmaranan opened #19 "skip focus on minimized windows during keyboard navigation"
When a window in the tree is minimized, skip to the next available sibling relative to the direction. Else, the window focus gets stuck and cannot get past the minimized window in the tree.

[2021-08-13 17:24] jmmaranan opened #20 "unable to move keyboard focus when the middle window is just minimized"
When there are 3 windows tiled and the middle (number 2) is minimized, the keyboard focus cannot jump from number 3 to number 1 window or vice versa. It gets stuck on the hidden window number 2.

[2021-08-14 15:23] #20 closed, assigned to jmmaranan

[2021-08-18 00:48] #5 closed, assigned to nobody

[2021-08-18 00:52] jmmaranan opened #21 "toggle layout of any pair con or window breaks resizing"
Open 2 windows, halt-tile vertically 1 window and toggle the layout. Resize the con and see it break. Resize by dragging one of the children opposite the split direction - since vertical, drag horizontally or vice versa.

[2021-08-18 00:57] jmmaranan opened #22 "feat: move-insert windows using keyboard and mouse"
Today, grabbing mouse and keyboard shortcuts swaps the windows.

- [x] Move windows inside a con and swap when the next sibling is the last item.
- [x] This also allows a window inside a con to move out and remove the con if it is the last window.
- [x] Use `<Super> + <Shift> + hjkl` to move-insert windows.
- [x] Use `<Super> + <Ctrl> + hjkl` to swap windows.

[2021-08-21 00:48] #21 closed, assigned to jmmaranan

[2021-08-21 01:03] #19 closed, assigned to nobody

[2021-08-21 01:06] jmmaranan opened #23 "feat: implement keybinding wizard in prefs.js"
Allow users to update keybindings in prefs.js without using Gnome Control Center

[2021-08-21 01:10] jmmaranan opened #24 "feat: allow to select parent con node for management"
When pressing `<Super> + z`, select the parent con of the focused window. The con is a St.Bin, can implement active hint and hiding the border on the focused window.

With this, open up to be able to move/update this Con and its children using drag/drop or keyboard shortcuts

[2021-08-21 01:11] jmmaranan opened #25 "feat: implement stacked layout"
When pressing `<Super><Shift> + s`, toggle the focus window's parent con to Stacked layout

[2021-08-21 01:12] jmmaranan opened #26 "feat: implement tabbed layout using exist window deco"
When pressing `<Super><Shift> + t`, toggle the current focus window's parent con to Tabbed layout.

Two options for tabs:
- [x] The tabbed layout is _currently_ using the existing window decorations as tabs
  - First problem with this is that not all windows can have the same width size due to some windows having preferred width sizes. Or resize = false for some.
  - Second problem is that the act

[2021-08-21 01:20] jmmaranan opened #27 "feat: implement command mode"
Made you look here. And it starts with `<Super> + :` :)

[2021-08-21 20:00] jmmaranan opened #28 "right-click menu unmaximizes maximized windows"
When a tiled window is maximized, for example, Gnome Terminal, right-clicking to get to preferences unmaximizes the window.

[2021-08-22 12:19] #28 closed, assigned to nobody

[2021-08-22 12:23] jmmaranan opened #29 "floating or minimizing resized windows should not take space"
- After implementing resizing, floating or minimizing windows leaves a space _probably_ because of the existing `percentages > 0.0` between the window that was resized and the sibling.
- Also, handle the window that was split and is the only child of that parent con.

[2021-08-22 15:00] jmmaranan opened #30 "feat: when gnome focus on hover is enabled, move the pointer on kbd focus"
When the gnome preferences `window focus mode == 'mouse'`, disregard the option `forge.focus-follow-mouse` and still move the mouse pointer.

[2021-08-22 15:05] jmmaranan opened #31 "feat: when focus switches, focus on the proper window"
- [x] When the focus switches via `Focus` command and _same orientation_ as the direction, and the next monitor contains 1 or more windows, focus on the node window that's closest to the previous monitor. (_The last index of the child of next con can be used if coming from direction == RIGHT, else first index_)
- ~~When _not the same orientation_ as the direction, focus on the same position of the

[2021-08-22 15:41] jmmaranan opened #32 "feat: move/tile windows between displays using keybindings"

[2021-08-22 15:44] jmmaranan opened #33 "feat: website hosting"
Create wiki documentation or static website somewhere

[2021-09-02 00:31] #29 closed, assigned to nobody

[2021-09-02 00:40] jmmaranan opened #34 "unable to determine attach node properly on second monitor"
Due to the change in 84fde5c083ad9f94fbddf3bddb0eca305e97f9f2 for detecting if window is in the same monitor workspace node, the attachNode is being overriden incorrectly when the window swaps in between displays.

It behaves as if the window was just dragged into the monitor even if Split Vertical or Split Horizontal is done by the user.

[2021-09-03 00:22] #34 closed, assigned to jmmaranan

[2021-09-04 21:24] #2 closed, assigned to nobody

[2021-09-06 13:48] jmmaranan opened #35 "feat: adjust focus color and highlights in prefs.js"
- The _focus hint_ is defined the same as `window-clone-border` class name in the `stylesheet.css`.
- The _highlights_ are the active and focus hovers in the overview app icons, search and workspace thumbnails as shown below:
![Screenshot from 2021-09-06 09-52-58](https://user-images.githubusercontent.com/348125/132227954-cf885b6c-2a82-4675-a362-768e211cb2ba.png)
![Screenshot from 2021-09-06 09-53

[2021-09-06 14:01] jmmaranan opened #36 "feat: allow multiple keybindings"
Update the shortcut var back as an Array(String) strv

[2021-09-06 16:53] #12 closed, assigned to nobody

[2021-09-06 17:03] jmmaranan opened #37 "feat: detect keybinding conflicts in prefs.js"
- [ ] When GNOME or third party schemas have already bound the same keys as Forge, provide conflict detection and inform the user on the `Forge Preferences > Keyboard > {Windows|Container|Other} Shortcuts > Conflicts With` column.
- [ ] Provide the ability to remove the conflicting binding in favor of Forge?

[2021-09-06 17:05] #36 closed, assigned to jmmaranan

[2021-09-06 17:28] jmmaranan opened #38 "feat: support translations"
- [x] Implement gettext

[2021-09-06 18:40] jmmaranan opened #39 "feat(prefs.js): ONGOING: update for gnome-40+"
Migrate prefs.js to GTK 4.x
https://docs.gtk.org/gtk4/migrating-3to4.html

[2021-09-09 10:53] jmmaranan commented on #39
- Initial porting of prefs.js to GTK 4 done. Lost some functionality on closing prefs via ESC.
- PixBuf looks wonky
- Still can't find why initial window open doesn't trigger render. Maybe because it is in a VM 🤔

[2021-09-11 21:24] jmmaranan opened #40 "bug: deeply nested nodes with minimized windows"
When minimizing deeply nested windows, the tree.next is not able to determine the next available window for the remaining tiled children shown on the screen.

If there are 3 cons and all the windows of the middle con is minimized, next is not able to jump to the next con.

[2021-09-11 23:43] jmmaranan opened #41 "bug: recognize smart gap vs zero-gaps for focus hint"
Distinguish smart-gapped and zero-gapped windows and adjust focus hint accordingly

[2021-09-11 23:47] jmmaranan opened #42 "bug: when opening floating windows, do not reset percent"
When floats (because Forge still tracks it - just a different mode) like prefs.js are opened, the siblings percentages are being reset. It should only reset when that window gets tiled with its siblings.

[2021-09-12 13:48] jmmaranan commented on #41
Confirmed fix from b28036b63d2460b7357a95507fd17253461d9c00

[2021-09-12 13:48] #41 closed

[2021-09-12 23:31] jmmaranan opened #43 "Use `<Super> + mouse` to tile one window onto another con when dragging and dropping."

[2021-09-13 00:08] #22 closed

[2021-09-13 01:25] jmmaranan opened #44 "feat: still move window as first or last child of a container"
When moving windows with keybindings, and the window being moved is within another sub-con, and the sub-con is the first or last child of a container, still move the window as the first or last child, detaching from that sub-con.

One _use case_ is when inserting a window into a split and would like to go back to the same position as it was before.

[2021-09-14 16:16] Kazvko opened #45 "Auto Tilling overlaps the topbar on ZorinOS 16"
On Zorin16 presets got a floating top bar, when im try to activate this extensions it ignores the topbar of gnome and hide the titlebar of the windows under it. If i activate the gap i can manage to mitigate this problem but doesn't solve it. The way that i can see this thing solved is (and i suggest):

1: have an gap exclusive to the top on the extension settings
2: manage to recognize the modifi

[2021-09-14 23:10] jmmaranan commented on #45
Thanks for the report! I'll see if I can include on the next release. Do you have a screenshot on how it looks with the top bar?

[2021-09-15 13:29] Kazvko commented on #45
These without gapps:
![Captura de tela de 2021-09-15 10-25-14](https://user-images.githubusercontent.com/52414666/133441892-aba72b9c-1f5a-4106-9848-b90c1091e86d.png)

Now with 32 gapp(it may vary based on the topbar settings of each user):
![Captura de tela de 2021-09-15 10-26-08](https://user-images.githubusercontent.com/52414666/133442097-88750531-7106-4093-bcc9-18d2636d170b.png)

[2021-09-15 14:54] jmmaranan commented on #45
Hey thanks for the additional screenshot. Are you currently using the top bar from Zorin? As a work around, I think you can disable it in Gnome Tweaks. I would be able to look into this by end of the week. If you are, then putting the gaps bigger on Forge is the best option right now.

[2021-09-16 02:35] Kazvko commented on #45
Yeah, i deactived the top bar for now, while i wait for an update.

[2021-09-16 04:36] jmmaranan commented on #45
Can you let me know how to get that top bar? I installed Zorin OS Core 16 and it looks like the same as Dash to Panel to me.

[2021-09-16 13:04] Kazvko commented on #45
On Zorin Appearance chose the last one available(Gnome like), and then on gnome tweaks or extensions activate de Zorin Taskbar and activate Panel Intellihide with rounded corners.

[2021-09-16 15:48] jmmaranan commented on #45
Thank you for the additional info - let me see if this can be fixed, since it does look like Zorin might have positioned the top bar via CSS which will ignore the work area parameters.

[2021-09-17 02:53] #44 closed

[2021-09-17 21:47] jmmaranan commented on #45
Hi @Kazvko - I see the same behavior in Dash to Panel and Dash to Dock - _however_ - that option was meant to be for intellihide - which is to float above windows and ignore the workarea (the area on the workspace minus the panel's area). I would assume you have selected to use the _the panel hides from Maximized windows_ to achieve that effect with rounded corners in Zorin Topbar in the Intellihi

[2021-09-19 04:45] #38 closed

[2021-09-19 04:53] jmmaranan commented on #39
Extensively testing in Wayland and X11 Gnome 40 - seems to work well. Closing this

[2021-09-19 04:53] #39 closed

[2021-09-21 10:38] mipmip opened #46 "feat: Enable for specific workspace"
First of all...great work!

Would be great if you could bound _Forge_ functionality to one of more workspaces, leaving other workspaces function normally. The use case is I have coding workscapes and design workspaces. The design workspaces need a more mouse-driven and flexible workflow.

[2021-09-22 02:24] jmmaranan commented on #46
Thanks. Done some initial work on this. Should be by end of this week

[2021-09-22 15:58] jmmaranan commented on #46
@mipmip - not sure if you are able to build from source locally but new PR is an attempt to provide the feature. Option to tag the workspace indices using prefs.js (Super + .)

[2021-09-22 18:04] mipmip commented on #46
I think I can manage. Will test this tomorrow.

[2021-09-24 00:55] jmmaranan commented on #46
I added a workspace toggle: `<Shift><Super> + w` - keybinding can be updated as well in preferences.

[2021-09-24 01:02] jmmaranan opened #48 "bug: calculate the attachNode properly"
When moving to an empty workspace and have done tiling on a different workspace, the window does not attach to the empty workspace-monitor node properly. It tiles on the previous workspace's attachNode.

[2021-09-24 10:31] mipmip commented on #46
Yes I like it very much.

I understand you are an ex i3 user. I'm an ex awesome-wm user. In that context you call this functionality "skip tiling". I would call this "Tiling Mode" vs "Tiling Mode". There could be an indicator icon showing the current workspace mode. Clicking the indicator icon could also toggle mode. That would be awesome :)

![forge-indicator-icons](https://user-images.githubuser

[2021-09-24 10:33] mipmip opened #49 "bug: closing the last tiled window on secondary screen crashes forge (workspace on primary)"
Whan I do this a lot of strange stuff happens and the shell get restarted sort. After a few times I'm forced to restart the gnome session.

[2021-09-24 12:30] jmmaranan commented on #49
Thanks for the report @mipmip - I believe this is due to Forge tracking modal dialogs. Can you provide the last window that you closed? And does it show like a Confirm Exit dialog?

[2021-09-24 12:49] mipmip commented on #49
The steps to reproduce...

1. make sure I'm in tiled mode :)
2. start two alacritty windows on my primary screen
3. start a alacritty window on my secondary screen
4. close the alacritty window on my secondary screen

It can be any application I happens with Firefox, or evolution.

See the video....

https://user-images.githubusercontent.com/658612/134676759-03f9f4c1-b951-4847-960e-c515a6565c76.mp

[2021-09-24 14:12] jmmaranan commented on #49
Thanks again for the additional info. I can replicate this when the `Workspace on Primary` is enabled. The other issue I mentioned about Modal Dialogs is a different issue (does not matter if workspace on primary or not) but also produces the same crash.

![image](https://user-images.githubusercontent.com/348125/134688779-ade0e732-abb6-462d-b278-93e327c0f8ae.png)

[2021-09-24 14:19] jmmaranan commented on #46
Thank you again! I'm glad that it works for you. I still do use i3 for when doing other things :) but I am certainly a noob i3 user! Adding a tiling indicator on the panel is in the works #13 and I also believe it is the best indicator to have the user know what's going on. For now, I think we do have the basic feature of toggling the workspaces. I'll merge this sometime today. And then since the

[2021-09-24 14:28] jmmaranan opened #50 "bug: when closing the last window with a confirmation dialog crashes forge"
To reproduce, open any window that has a confirmation dialog when exiting. I see this on GNOME Terminal with tmux and then exiting while tmux is still running, then it will ask to confirm the exit. After confirming exit and terminal is the last window in Forge, it crashes and restarts gnome-shell

[2021-09-24 14:51] jmmaranan commented on #49
@mipmip - added a fix for it. You can check it out from the branch: `fix-ws-closing-on-primary`, then `make dev`. Use `make uninstall` to remove the development version. I think you have to revisit this link: https://extensions.gnome.org/extension/4481/forge/ to get the release version again once I publish and is approved.

[2021-09-27 09:30] mipmip commented on #49
Sorry, this does not fix the problem for my situation. This is my workspace configuration...

![Screenshot from 2021-09-27 11-29-21](https://user-images.githubusercontent.com/658612/134882839-097024bf-7ef4-47ef-9791-1f0db3ed1be5.png)

[2021-09-27 21:13] jmmaranan commented on #49
I tried to use the same configuration as yours and able to replicate it. Though it is the same fix from #51

[2021-09-27 23:40] jmmaranan commented on #49
Here is reproduction and testing in 40 - issue manifesting on the 0:09-0:12 mark after closing Files. Then I applied the patch from main branch after.

https://user-images.githubusercontent.com/348125/134998997-d8f185eb-156f-4676-bc88-7efd9fa9166a.mp4

[2021-09-28 01:04] jmmaranan commented on #42
Fixed on 062924967be0629124995e75260e2ddbbe063cb1

[2021-09-28 01:04] #42 closed

[2021-09-29 09:03] mipmip commented on #49
I see you merged the fix. I'll dive into the issue later when I have more time. I'm new to Gnome but I like to get dirty hands.

[2021-09-29 19:39] jmmaranan commented on #49
I'm sorry - I do not think I have a fix for your issue yet - since I can easily get that other one in (just updating the delay before the workspace event triggers updating the tree) - not until we can resolve / replicate your ticket on both our sides I will not close this.

[2021-09-29 19:41] jmmaranan commented on #49
One thing I can think of to help is probably exposing the delay (maybe it is hardware sensitive) for that same change I mentioned as an option (maybe a slider in milliseconds) in prefs.js

[2021-10-01 01:32] jmmaranan commented on #46
@mipmip - just to let you know that the panel indicator will be available on the next version in extensions gnome dot org

[2021-10-01 11:07] mipmip commented on #46
Very useful. I'm happy!

[2021-10-04 00:03] #25 closed

[2021-10-04 00:38] jmmaranan commented on #49
Just an update - I am now seeing this randomly even with the fix from the other day. But still not sure why it is happening.

[2021-10-04 00:46] jmmaranan opened #52 "feat: implement paper-wm like layout"
When PaperWM layout is enabled, do that same thing!

[2021-10-04 00:50] jmmaranan opened #53 "feat: implement layout presets"
Implement some presets for percentages like 30, 30, 40 for a given parentNode's layout and make it configurable.
Assign presets to numbered keybindings, e.g. `<Super><Alt> + 1` - preset A, etc.

[2021-10-04 21:59] jmmaranan opened #54 "feat: ability to swap a window inside a stacked layout to a non-stacked layout via mouse"
Currently, keyboard shortcut for swap is implemented. For mouse driven swap, need to read a modifier that the current mode is swap instead of reading the stacked layout of the source (focused window) node's parent

[2021-10-04 22:06] jmmaranan opened #55 "bug: maximized windows do not get tiled on enable/disable"
When a window is maximized, disable Forge via Extensions app, enable it. Notice that the maximized window is stuck on the background

[2021-10-04 22:10] jmmaranan opened #56 "bug: stacked window selection on overview - does not render properly"
When overview is opened and selecting a window that is currently on a stacked layout, and that window is behind other siblings on the stacked layout, the window that is selected still stays behind after closing the overview.

[2021-10-04 22:32] jmmaranan opened #57 "bug: do not stack windows with split con siblings"
When `[ W* [ A B ]` - do not stack W, A and B.

[2021-10-05 13:42] jmmaranan opened #58 "feat: implement scratch workspace similar to i3-wm"
Not sure how to do it yet :)

[2021-10-06 13:10] jmmaranan opened #59 "feat: implement dpi scaling for rect measurements"
When scaling is updated on GNOME Control Center, the gaps, measurements between nodes, etc should be scaled accordingly.

[2021-10-07 17:32] jmmaranan opened #60 "feat: optimize focus, and move functions"
Currently, the tree.next() call determines what the next node would be and the calling functions like the tree.focus() and tree.move() _SHOULD_ determine what to do with the resulting next node. Tree.next() needs to be simplified to only do iteration logic. Currently it has logic that needs to be inside focus() and move() instead.

With the current behavior, the focus, for example, does not jump p

[2021-10-07 17:38] jmmaranan opened #61 "bug: broken toggle split layout when stacked windows were introduced"
When toggling the layout of two or more windows inside a CON or a MONITOR - the currently focused window is being split down instead

[2021-10-08 14:06] mipmip opened #62 "bug: Activated windows in floating mode are not placed highest z-index"
When I use super-tab or clicking on dash to activate another app, the activated window stays under other windows. This is only relevant in a floating workspace.

[2021-10-09 03:06] jmmaranan commented on #62
Hi @mipmip - I was working on the new tabbed layout and I committed the fix on the `feat-tabbed-layout` branch.

[2021-10-09 15:33] #56 closed

[2021-10-09 15:37] #48 closed

[2021-10-09 15:39] jmmaranan opened #63 "feat: implement St.Widget based tabs"
- Implement tabs via St.Widgets
  - Introducing new style declarations in the CSS will have to work on consolidating the custom stylesheet and new styles. For now, the original/default style will override the custom styles to get the update.

[2021-10-09 15:41] #26 closed

[2021-10-09 15:43] #60 closed

[2021-10-09 16:42] #61 closed, assigned to nobody

[2021-10-09 21:22] #55 closed

[2021-10-10 02:19] jmmaranan opened #64 "feat: allow resize front tab"
Allow to resize windows inside a tabbed layout along with the con parent's siblings. Currently, if the window is the first or last child of the con - the resize does work.

[2021-10-10 13:20] jmmaranan opened #65 "bug: when clicking close on background tabs, crashes Forge"
When closing any of the original window decorations that are also being used as tabs, gnome-shell hangs and restarts.
Possibly fixed when implementing the tabs as St.Widget #63

[2021-10-10 21:25] jmmaranan opened #66 "bug: floating windows on fullscreen games"
When playing fullscreen games from Steam, and workspace-tiling-off or floating Steam app shows in the game and cannot be dismissed.

[2021-10-10 21:31] jmmaranan opened #67 "feat: re-arrange always-on-top windows depending on the current con layout"
- [x] fullscreen windows have higher priority
- [x] floating windows next
- [x] tabbed or stacked windows next
- [x] tiled windows last

[2021-10-13 00:44] jmmaranan commented on #62
Hi @mipmip - I have published an update on the extension that includes this fix. Would you be able to confirm that it works also on your end?

[2021-10-18 01:45] jmmaranan commented on #62
@mipmip - I tagged the release only on the main branch for now. Need to figure out gnome-40 since it is always being rebased and tags get lost. https://github.com/jmmaranan/forge/releases/tag/v3.38-18

[2021-10-18 13:26] #31 closed, assigned to nobody

[2021-10-21 16:44] #32 closed, assigned to nobody

[2021-10-21 17:02] jmmaranan opened #70 "feat: optimize tracking floating windows"
i3-wm seems to track current active floats in a different list rather than the float being on the same list as tiled windows:

- This could potentially fix #50 by having the removal update happen on a different list variable than the main window. As the render apply immediately happens when window.destroy() signal fires.
- Need to re-implement _re-inserting_ the floated window from the previous lo

[2021-10-22 22:09] jmmaranan opened #71 "feat: theming"
Provide options to update the appearance of the St.Widget components in the Preferences:

- [x] Update focus hint border color and size of split, tabbed, and stacked layouts
- [x] Update split direction border color and size
- [x] Update preview hint border color and size of split, tabbed and stacked layouts
- [x] Update overview accent color

[2021-10-26 15:31] #71 closed, assigned to jmmaranan

[2021-10-26 17:00] jmmaranan opened #72 "bug: drag/drop tiling on resized windows"
Due to the new drag/drop changes on GRAB_TILE mode, need to consider this new mode when calculating the sibling nodes of the grabbed node.

The impact currently is the resized siblings do not reflow properly on preview

[2021-10-26 17:18] #72 closed, assigned to nobody

[2021-10-30 18:26] jmmaranan opened #74 "bug: the latest changes on drag/drop tiling broke wayland"
`Gdk.DisplayManager.get().get_default_display()` results to null - this call is used to detect the modifier state pressed by the user.

[2021-11-02 16:07] jmmaranan opened #77 "bug: opening apps from dash or overview does not tile immediately"

[2021-11-02 18:30] jmmaranan opened #78 "bug: when disconnecting display, detaches all existing windows from tree"
It looks like the `workareas-changed` event reloads the tree but it should still check if the display monitor is available or listen to display connected/disconnected signals

[2021-11-02 19:12] jmmaranan commented on #35
This is now implemented in https://github.com/jmmaranan/forge/issues/71

[2021-11-02 19:12] #35 closed

[2021-11-03 13:22] jmmaranan commented on #74
Found a different solution from the extensions chat room, thanks to `GdH` - using Clutter and global.get_pointer() mod state value

[2021-11-03 15:04] #74 closed

[2021-11-03 15:11] mathieu-leborgne opened #80 "bug: opening overview toggles multi-display split layout in gnome 40+"
Overviewing has for consequence the reset of the split-vertical or split-horizontal on secondary screen, if different from the principal monitor.

[2021-11-03 15:14] jmmaranan commented on #80
@mathieu-leborgne - hi, thanks for the report! Would you mind showing some screenshots or steps to reproduce?

[2021-11-03 15:48] mathieu-leborgne commented on #80
Of course :
**Distro** : ArchLinux on 5.10.75-1-lts kernel
**Gnome-shell version** : 1:40.5-1

My setup, for the explanation :
- **Main screen** in landscape mode, so I use default split-mode (to avoid "horizontal" or "vertical" term, which is confusing)
- **Secondary** screen in portrait mode, so I use default split-mode changed with Win + G

**Secondary screen, BEFORE overviewing gnome**
![image

[2021-11-03 16:15] #77 closed

[2021-11-03 17:23] jmmaranan commented on #80
Hi @mathieu-leborgne - I am not able to reproduce it on Fedora 35 gnome 41 nor Pop!_OS 20.04 gnome 3.36. But I think I may have an idea that it would be somewhere on `window.js#determineSplitLayout()` code.

1. Could you please provide your journal logs from the past hour where you see it? E.g. `journalctl -b 0 -r --since "1 hour ago"`. Just would like to see if there was a JS error or not.
2. Als

[2021-11-04 00:27] mathieu-leborgne commented on #80
I think I figured out the origin of the problem, which is a conflict : I use **DashToPanel** to duplicate the top bar and customize it.

When I disable DashToPanel, the bug does not happen.

Here is the `journalctl` with JS errors :
[code]

[2021-11-04 01:05] jmmaranan commented on #80
Thanks for the additional details! I'll check tomorrow when I have Dash To Panel installed.

[2021-11-05 13:03] jmmaranan commented on #80
The issue _does not_ seem to happen on `gnome 3.x`. Also changed `workspace-on-primary only` in gnome-tweaks with static or dynamic workspaces, works well on gnome 3.3x with dash-to-panel installed. Will concentrate debugging on gnome 40+ - also updated the title

[2021-11-05 13:24] jmmaranan commented on #49
Hi @mipmip - just checking in again. Are you still seeing this? I spent a couple of days on gnome 40 and 41, I do not see this happening anymore. I _am not_ sure what I did to fix it though :)

[2021-11-06 18:29] jmmaranan commented on #80
Hi @mathieu-leborgne - hello, extensions gnome dot org fix for this has been published. Please let me know if it works for you :)

[2021-11-09 16:42] #80 closed

[2021-11-10 14:40] jmmaranan commented on #80
Hi @mathieu-leborgne - I closed this since I can see that it is working fine (I might stay in Dash-To-Panel now that they fixed GNOME-40!) - please re-open when it is still not working for you

[2021-11-12 15:26] jmmaranan commented on #54
This is no longer needed in favor of just using the drag/drop implementation and re-arranging the windows as desired

[2021-11-12 15:26] #54 closed

[2021-11-12 23:04] mathieu-leborgne commented on #80
The update works perfectly, now on GNOME 41.1
Thank you very much for your great extension, and ultra-fast answering :+1:

[2021-11-13 09:16] nobeh commented on #52
Thanks for considering this. The most valuable feature for me on a PaperWM like layout are basically:

- `<Super>+|-` to resize the current focused window in terms of width. Why? On a wide screen (and even more on a single-window mode), auto-tile would expand the focused window to full size. In addition, having the control to resize the current focused window next to others gives a good ability to

[2021-11-13 12:37] jmmaranan commented on #52
Hi @nobeh, sure thing! In the meantime for your 2nd note you can probably use the Super + C which does a float center toggle. I use it most of the time on a big screen for focusing. And then tile it back when done

[2021-11-13 12:55] jmmaranan commented on #52
For your 1st note, though not similar to paperwm, you can do the resize which comes with GNOME Alt + F8 as trigger then arrow keys to resize or using the mouse. However, I still wanted to take control of the resize with few keystrokes, same as yours: more on the ergonomics.

I am planning to refactor or add to the utility that builds/executes the commands in the window.js so it can be bound immedi

[2021-11-13 13:25] jmmaranan commented on #52
For what it's worth, PaperWM is a complex extension on its own (I applaud the authors for their work and looking at the readme and code - appreciate the nice and readable comments/structure) and I would be forging some of their features or do something similar. I am also trying to avoid though on making Forge very complex and harder to maintain because of the multitude of features. But we'll see!

[2021-11-14 15:01] Luis-Hebendanz opened #84 "bug: changing keyboard shortcuts is not possible"
**Describe the bug/issue**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `gnome-extensions prefs forge@jmmaranan.com`
2. Click on Keyboard->Window Shortcuts
3. Change Shortcut from `<Super>j` to `<Super>s`
4. Press enter
5. Error as in screenshot in journal log appears

**Screenshots or journal logs**
![image](https://user-images.gi

[2021-11-14 15:09] jmmaranan commented on #84
Thanks for the report! I have been willing to try NixOS. Let me see if I can reproduce. The settings are being stored in a schema directory / schema binary file and should be writable. I'll explore how Nix or NixOS works.

In the meantime, are you able to toggle any other settings? They are also being stored in the same location as the keyboard shortcut schema.

[2021-11-14 15:11] jmmaranan commented on #84
The css custom file is stored in $HOME/.config, separate from the default gsettings schema location

[2021-11-14 16:08] Luis-Hebendanz commented on #84
Hey, cool! So if you want to try it out right now you can also just install the [nix package manager](https://nixos.org/download.html) in your current os~
[code]

Changing a setting in the appearance tab works and changing them in the experimental tab works too.

[2021-11-14 16:25] Luis-Hebendanz opened #85 "bug: TypeError: rect is undefined"
**Describe the bug/issue**
If I disable tiling mode, switching windows with `<Super>+<Tab>` creates this error message in the journal log.

**Screenshots or journal logs**
![image](https://user-images.githubusercontent.com/22085373/141689347-0cd9a1ae-943d-4285-b93d-93c8f343da86.png)
**Version Information**
1. Distro and version:
NixOS:
[code]
2. Forge version or from source (branch or commit)
`ver

[2021-11-14 18:26] jmmaranan commented on #85
Hi @Luis-Hebendanz - thanks again for the report! It looks like the extension you have installed is very old. Extensions gnome dot org has it as `version 32 now` for GNOME 40+. Can you please try that version?

[2021-11-14 22:18] Luis-Hebendanz commented on #85
@jmmaranan Ah yeah I updated the addon and that fixed the issue. Sorry~

[2021-11-14 22:18] #85 closed

[2021-11-14 22:39] jmmaranan commented on #85
Not a problem! Thanks for checking

[2021-11-15 02:05] jmmaranan commented on #84
Hi @Luis-Hebendanz - I used an existing install and tried your suggestions above to install Nix package manager only,  but I cannot seem to find a way to load the extension from the nix directories and be recognized by gnome-shell. I will try to replicate in a NixOS environment sometime this week.

[2021-11-15 06:39] Siroj42 opened #86 "bug: Colors are reset after locking screen"
**Describe the bug/issue**
After entering and exiting the lockscreen, the colors defined in Forge's settings get reset to default. They are fine again after opening Forge's color settings and clicking "apply changes".

**To Reproduce**
Steps to reproduce the behavior:
1. Change colors in Forge's color settings
2. Lock screen
3. Unlock screen
4. Look at window, overview etc., all use the default or

[2021-11-15 11:04] Luis-Hebendanz commented on #84
@jmmaranan I see, yeah makes sense. If you have trouble installing NixOS write to qubasa on irc.libera.chat under '#nixos'  :-)

[2021-11-15 11:11] jmmaranan commented on #86
Thanks @Siroj42 for the bug report!  I can also replicate this in gnome 3.3x via `make prod` - which is the build that gets sent to extensions gnome dot org. Will check why that is happening ;)

[2021-11-15 22:24] jmmaranan commented on #86
@Siroj42 - are you able to run the extension from source to try it out? Please see PR #87

[2021-11-16 13:56] jmmaranan commented on #86
Sorry disregard, I just realized you are on gnome 40+ fix was just in 3.x. Will publish on extensions site. Wrapping up some minor fixes in main then will also wrap up gnome 40 branch.

[2021-11-16 16:44] #50 closed

[2021-11-16 16:56] jmmaranan commented on #86
This is now published as v34 in extensions gnome dot org

[2021-11-21 14:52] Siroj42 opened #88 "bug: Crash when opening/closing windows too quickly"
**Describe the bug/issue**
When opening/closing windows in quick succession, the screen freezes for a short time. Then, gnome-shell crashes and GDM (the login screen) appears.

**To Reproduce**
Reproducing the issue is easiest with applications that quickly open/close windows, for example Gnome Builder:
1. Open Gnome Builder
2. Select/Create a project
3. The project selection window closes, while

[2021-11-21 15:24] jmmaranan commented on #88
Thanks for the report @Siroj42 - I'll mark it as gnome-40+ for now

[2021-11-21 19:48] jmmaranan commented on #88
Submitted to extensions gnome dot org. Re-opening ticket for testing

[2021-11-21 19:52] jmmaranan commented on #88
Hi @Siroj42 - this is now available as v36 in extensions.

[2021-11-21 21:34] Siroj42 commented on #88
Thanks!

[2021-11-21 23:14] jmmaranan commented on #88
Please let me know if it works on your end

[2021-11-23 23:01] #88 closed

[2021-12-04 15:59] jmmaranan commented on #84
I started downloading the ISO last week. But got distracted with other things and work.

[2021-12-05 14:31] CactiChameleon9 opened #90 "bug: wl-paste (with micro text editor) causes temporary tiled hidden dialog"
**Describe the bug/issue**
`wl-paste` (with micro text editor) causes temporary hidden dialog, which is then tiled meaning all windows are moved (as if another window is created) and then moved back

**To Reproduce**
Steps to reproduce the behavior:
1. Install micro and wl-clipboard (on gnome wayland)
2. Open terminal and type micro
3. Select something from outside the terminal and then paste usin

[2021-12-05 15:27] jmmaranan commented on #90
Thanks for the report @CactiChameleon9! Will also check on gnome 3x first if can reproduce

[2021-12-05 19:00] CactiChameleon9 commented on #90
Just a note: I tested in terminator and lxterminal, but didn't check in gnome terminal (although I assume its the same)

[2021-12-06 03:16] jmmaranan commented on #90
Thanks for the additional note. I'll look into it sometime this week 👍🏼

[2021-12-10 02:02] jmmaranan commented on #90
I was able to replicate this in gnome 41. The `wl clipboard` is the hidden window for a brief moment.

[2021-12-11 02:44] jmmaranan commented on #90
Alright - did some prototyping in my local of what could possibly fix it. I will have to move categorizing untracked and floating windows away from the window.js#trackWindow method, because WAYLAND does not immediately set the `window.title` and `window.wm_class` attributes to the Meta.Window so I can decide if it is floating or not at that point.

I am currently occupied with moving the tabbed wi

[2021-12-11 03:33] jmmaranan commented on #84
The issue on gnome 4x is that the accelerator_parse() API has changed and there is now a boolean in front from the return response. Will publish bb75f62825feb4df0324be86bd3ad248c2db5272 to extensions gnome dot org.

[2021-12-11 03:36] jmmaranan commented on #84
@Luis-Hebendanz - you can try from the gnome-40 branch or wait for v37

[2021-12-11 03:36] #84 closed

[2021-12-11 03:42] jmmaranan commented on #84
Version 37 is now active in extensions gnome dot org

[2021-12-11 07:51] CactiChameleon9 commented on #90
That sounds good, thanks for being so informative with this issue and explaining the progress you've been making. Hope the Tabbed with St.Widgets goes well

[2021-12-12 02:24] jmmaranan commented on #90
Thanks! The new tab implementation is looking good. I posted it on the Discussions page a while back. Just working on the prefs changes. Should be by mid next week.

[2021-12-12 22:39] Luis-Hebendanz commented on #84
@jmmaranan  Sweet, thank you!

[2021-12-16 14:17] jmmaranan commented on #90
Moving forward with #63 - the new tabs should be tomorrow if extensions admins approved it - the code is already in `main`. I'll start working on this issue after or during the holidays if time permits

[2021-12-18 00:00] jmmaranan commented on #63
Publishing to extensions gnome dot org

[2021-12-18 00:00] #63 closed

[2021-12-18 00:23] jmmaranan commented on #65
This is now fixed on #63

[2021-12-18 00:23] #65 closed

[2021-12-18 00:32] jmmaranan opened #93 "feat: undo close app"
Since getting used to using the tabbed mode, I thought it is now like a browser that I can undo closing a tab.

[2021-12-18 00:37] jmmaranan opened #94 "bug: modal dialogs hidden under the tab when opened"
**Describe the bug/issue**
When in tabbed mode and opening modal dialogs, the modal dialog is sometimes hidden. Gnome-4x modals seems to be always attached to the parent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tabbed mode in GNOME-40
2. Open the prefs.js of Forge or open Libre office, open a save dialog

**Expected behavior**
Modal dialogs should not be hidden or should be on

[2021-12-18 21:54] jmmaranan opened #97 "bug: disable tiling, still shows the tabs"
**Describe the bug/issue**
When disabling the tiling mode, the tabs should be hidden and the hidden tabs should not take up space.

**To Reproduce**
Steps to reproduce the behavior:
1. Put one or more windows into tabbed mode
2. Disable tiling
2. The tabs still show

**Expected behavior**
No tabs should show when tiling is disabled

**Screenshots or journal logs**
![image](https://user-images.gith

[2021-12-18 21:59] jmmaranan opened #98 "bug: disable tiling, still shows drag/drop regions"
**Describe the bug/issue**
When disabling tiling, drag drop regions should not show

**To Reproduce**
Steps to reproduce the behavior:
1. Disable tiling
2. Drag a window
3. Drop regions still shows its hint, which should not.

**Expected behavior**
Drop regions should only show when tiling is enabled.

**Other Notes**
When the issue happens - not sure if it still needs to process the dragging and

[2021-12-20 10:25] baldimir commented on #78
Hi, my windows gets reset when I lock and unlock my desktop (external monitor connected to laptop with lid closed). It happens when the display switches off while locked - I mean when I have it locked for some time. I expect it may be caused by this problem, right? Btw thank you for a great extension!

[2021-12-20 19:43] jmmaranan commented on #78
My hunch is that when locked for a long time, the USB or Display Connectors gets disconnected, power saving etc, and work areas event gets triggerred. Where the reset tree function is being called.

[2021-12-20 23:01] jmmaranan opened #99 "breaking: disable swap-window and re-purpose its keybindings to focus between containers"
The current `tree.move` api performs a `tree.swap` anyway when the windows are siblings. We can re-purpose the current keybindings to move between cons.

[2021-12-20 23:06] jmmaranan commented on #78
@baldimir - thank you for your support!

[2021-12-21 18:03] hus3h opened #101 "feat: option to choose default drag-and-drop center layout (tabbed or stacked)"
Hello,

Adding this will allow the user to choose whether dropping windows on top of each other (center area) would, by default, group the windows in a tabbed layout or a stacked layout.

The default grouping layout became tabbed layout after the last release and I wanted to have stacked layout as I prefer it, and currently, the only way to change that behavior is through dconf `dnd-center-layout`

[2021-12-21 19:10] jmmaranan commented on #101
Thanks for the proposal, yes will expose it on the preferences. I am also planning to change the Stack implementation as St.Widget soon

[2021-12-21 20:22] jmmaranan commented on #101
Yeah, I forgot to state that change in behavior or continue with the setting changes, and I am looking forward to your contribution!

[2021-12-21 20:42] hus3h commented on #101
Oh, I continued adding the setting but finding a new behavior might make things better later on.

One idea is dropping left or right = tabbed and dropping top or bottom = stacked but it might not be as good as I think, probably can be a setting.

[2021-12-21 22:31] jmmaranan commented on #101
Yes, those can be made configurable. However, it feels natural for left and right to detach from the layout. Maybe top is tabbed and yes down can be stacked as defaults.

[2021-12-21 23:49] hus3h commented on #101
Top and down sounds good to have and indeed left and right detach feels natural and replacing it probably should not be an option, I assume having left or right = grouping would conflict with left and right detaching and/or vertical to horizontal tiling (actually maybe even using top and down conflicts with something like horizontal to vertical tiling which will make a stacked container instead in

[2021-12-22 00:11] jmmaranan commented on #101
Not anchoring on the horizontal or vertical tiling makes it much more simple when determining what left/right or top down should do.

[2021-12-22 21:30] jmmaranan commented on #101
Fixed on #102

[2021-12-22 21:30] #101 closed

[2021-12-23 02:08] #33 closed

[2021-12-30 14:50] solarider opened #104 "feat: Swap currently active window with last visited window"
Loving this extension. I had a fairly complex spectrwm setup previously but its master stack layout became inefficient for me when I upgraded to an ultrawide monitor.  After working my way through gtile, tactile and others I can't remember I landed on forge and it's really grown on me.

One feature I miss (or haven't been able to find) is the ability to swap the currently active window with the la

[2021-12-30 18:09] jmmaranan commented on #104
Thanks for the feature request, yes, I think this is very possible.

We can issue a window. js#command action to bind to Super + Enter, grab the active window and first window on the tablist and swap their nodes on the tree.

[2021-12-31 01:03] jmmaranan commented on #104
Hi @solarider - do you want to try from this branch `feat-swap-last-active`. Also referenced from this ticket

[2021-12-31 02:11] jmmaranan commented on #104
And thank you for your support and appreciation 👍🏼 I am working on the floating exceptions feature and thinking to do the layout presets next (which can also provide an ability to restore)

[2021-12-31 12:04] solarider commented on #104
Thanks for the speedy turn around. I'm a bit of a novice in the gnome extension area so not totally sure how to try this out.
I have tried unzipping over the top of the existing installation (under .local/share/gnome-shell/extensions/forge@jmmaranan.com) but then I got the error message from the extensions connector page and it has been disabled.

What would be the best way to try this please?

[2021-12-31 12:07] solarider commented on #104
I would love the ability to restore - at the moment after a restart I find all workspaces and windows are a mess (and I have a lot!) then I have to spend time getting them back into place.

I can think of a few other features such as follow-focus so will open separate feature requests for them.

Thanks for your great work on this - this is making my use of a full desktop environment actually enjoy

[2021-12-31 12:18] jmmaranan commented on #104
If you are familiar with using git, you can clone this repo and switch to the branch `feat-swap-last-active` and then `make dev`. It also depends on gettext: `sudo apt install gettext gettext-base` if you are on Debian-based systems.

[2021-12-31 12:32] jmmaranan commented on #104
Here is a screen cap, I jumped around with the window on far left and far right via mouse. Then used Super + Enter to switch between them on the focused node.

https://user-images.githubusercontent.com/348125/147823592-278d632f-3ed0-4b48-af7c-a3b484680ae1.mp4

[2021-12-31 15:39] solarider commented on #104
Bingo! Got it working. I have been using it for a couple of hours now on my daily driver (so stability is very important on this box) and it has worked flawlessly - exactly as expected.

![Screenshot from 2021-12-31 15-35-32](https://user-images.githubusercontent.com/23298084/147830768-71d01e00-bfc8-41c3-8d55-dfc2f7847b28.png)

Also nice to see it working in toggle-float mode. That looks neat in a

[2021-12-31 15:49] solarider commented on #104
What are your plans to merge this back into main? Also there are quite a few branches with interesting features - the always float for example. What branch would you advise to track?

Also it's a bit messy for me currently (and I am still learning gnome-extensions so that doesn't help) to do on my daily driver box so I think I'm going to have to set up a VM to test features in.  I find that gnome-

[2021-12-31 16:56] jmmaranan commented on #104
Ok thanks for checking it out.

I can merge it now to main. And re-publish to extensions gnome dot org. By the way, the built source can be overridden when you run `make prod` and restarting the shell twice to pick up the one in extensions gnome. Otherwise, purging the forge folder via `rm` works as well and re-installing from extensions gnome dot org website.

It should always be `main` - it is n

[2021-12-31 17:01] #104 closed

[2021-12-31 17:08] jmmaranan commented on #104
Sent request to publish to extensions gnome dot org

[2021-12-31 17:16] solarider commented on #104
I'm pretty sure it's unrelated to forge as I ha the same issue when testing other tiling extensions. I was too busy whizzing through as many as I could find to investigate properly. But I should and file a bug report with gnome-shell (if appropriate)

That would be great - happy to wait.

[2022-01-05 21:45] narkeeso commented on #97
I also found this bug happens when coming out of a suspended state sometimes in Gnome 41 (Fedora 35). This is the only major bug that is making me want to turn off the extension. I have to restart my entire session for them to go away.

[2022-01-06 13:48] jmmaranan commented on #97
Yeah, I am planning to add more cleanup mechanism during each of time the rendering phase runs. Need to determine the condition that the decoration is stale. More updates to come on the next few weeks.

Though the resume from sleep or hibernate would be related. This one is a different condition than mentioned on this ticket.

[2022-01-13 11:52] solarider commented on #104
It would be useful to have a toggle for following the focus when switching the window - or even to allow for 2 shortcuts; one to switch without following focus and one with follow focus.

Appreciate this is now closed - so happy to raise a new feature request.

[2022-01-13 13:19] jmmaranan commented on #104
Hi @solarider - you can send a new feature request

[2022-01-13 15:47] solarider opened #106 "feat: follow focus when moving/swapping windows"
It would be great to have a feature that allows you to toggle focus for when moving windows or swapping to last active.

This would be useful with all the swap and move sequences so if there was a key sequence that could be pressed first (like a CTL-a/b in screen/tmux) and then the desired action the focus would follow the window to it's new location.

Disclaimer: I have strange and awkward workfl

[2022-01-15 16:03] jmmaranan commented on #106
Thanks for the request, I will think about this.

[2022-01-19 00:06] seed3165 opened #107 "Rename to fabric (forge is scary and bad)"
Forge bad, fabric good. rename?

[2022-01-19 00:45] jmmaranan commented on #107
Hello, Forge will retain the name - it meant FORGnomeExtensions.

[2022-01-19 00:45] #107 closed

[2022-01-20 16:12] s1m-e0n opened #109 "bug: Losing focus on mouse click on Wayland when using Desktop Icons NG extension"
Losing focus when clicking in / on a window on Ubuntu Wayland while using the Desktop Icons NG Gnome extension (https://extensions.gnome.org/extension/2087/desktop-icons-ng-ding/). I can still focus on a window using the Super+j keybinding but lose focus immediately when clicking with the mouse anywhere. This means I can't interact with any program except via keyboard commands. On Xorg I'm having

[2022-01-21 14:44] jmmaranan commented on #109
Thanks for the report. Not sure if it is related to Mutter, will investigate. https://gitlab.gnome.org/GNOME/mutter/-/issues/2091. I am also seeing re-focus issues on Wayland as also reported on pop-shell.

[2022-01-22 13:41] jmmaranan commented on #97
@narkeeso - extensive debugging shows that the suspend mode seems to be triggering a `workareas-changed` - which causes it to reload the tree. I added a cleanup mechanism on my local build, it seems to be impacted when I was fixing the Dash-to-xxx issues.

[2022-01-24 02:00] #97 closed

[2022-01-24 02:00] #98 closed

[2022-01-26 02:42] jmmaranan commented on #106
Hi @solarider - so for example, I do in tmux press CTRL+A then W, to bring up opened sessions. And in Forge, proposing something like Super + O, H - would swap left. Super + H would be the normal focus left?

[2022-01-26 04:41] narkeeso commented on #97
@jmmaranan Been using the new update and it's working great! Thank you!

[2022-01-30 15:24] solarider commented on #106
Hi @jmmaranan that is more or less it. I will try and post a better description here soon (need to free up sometime) describing the behaviour I currently see and how this feature request would work. Thanks

[2022-01-30 15:32] solarider opened #111 "feat: resize active window with keyboard"
It would be great we could resize the active window (including floating window (<Super-c>)) with a key sequence.
Thanks

[2022-02-01 00:24] jmmaranan commented on #111
Hey @solarider, currently the gnome resize, I think it is usually Alt + F7, will work. But I agree of shortening the shortcut.

[2022-02-04 23:44] BenHerbst opened #112 "Best extension for tiling, but moving windows with <super>"
Hello,
I think this is by far the best tiling wm like gnome extention, as it just works and also supports tabbing.
But it would be great to also move windows around when pressing the <super> key, like real tiling window managers allows. Then I don't have to pick the window's title bar.

Ben

[2022-02-08 22:34] luixal opened #113 "Any idea on how to use directional keys (arrows)?"
I'm tried somehing I saw in issue #1 , this is setting something like `<Super>right arrow` but it's not taking it. I've already remove this shortcuts from gnome's.

I'm talking about, in example, removing the `<Super>j` shortcuts and use super key + down arrow.

![image](https://user-images.githubusercontent.com/615268/153087052-e4ab6580-99ef-4b6f-8a2c-71203d2e6bb0.png)

Any idea on how to set it

[2022-02-08 22:39] luixal commented on #113
Ok, just figured it out, was about casing. In case someone gets here with the same problem, just use `Down`, `Up`, etc... first letter in uppercase. Just like in this example:

![image](https://user-images.githubusercontent.com/615268/153087573-acd37769-f16e-42c3-a924-62f5d5412db5.png)

Cheers!

[2022-02-08 22:39] #113 closed

[2022-02-09 01:17] jmmaranan commented on #113
Thanks!

[2022-02-13 04:39] jmmaranan commented on #112
hi @BenHerbst - I thought this was already enabled by default? What distro are you using?

[2022-02-13 14:44] BenHerbst commented on #112
I use Linux Mint and Gnome 3.36.

[2022-02-13 14:55] jmmaranan commented on #112
I am able to hold Super key and move windows on Pop!_OS 21.10 without grabbing the title bars maybe it is a setting on Gnome itself. I'll also check on Fedora 35

[2022-02-13 23:10] BenHerbst commented on #112
I found out that it works with wayland, and I used xorg as it is better implemented in things like qt-settings in linux Mint. It would still be cool if there is a way to also have this feature on xorg, if that is possible with extentions, in material shell it also works on xorg for example.

[2022-02-13 23:37] BenHerbst commented on #112
I fixed it, it was a setting in gnome tweaks, window action key under window category. 👍

[2022-02-13 23:37] #112 closed

[2022-02-13 23:41] BenHerbst commented on #112
Btw, if someone wants to know how to remove title bars for non titlebars with search bars etc. in them, use the gnome extention gtk title bar. It was the only extention worked for me, even for non maximized windows like with forge.

[2022-02-17 10:59] didi-maru opened #114 "bug: Forge force the use of English locales on some labels of the GNOME Shell"
**Describe the bug/issue**
When the Forge extension enbled, some labels (not all) of the GNOME Shell UI use the English locale instead of the locale specified in `gnome-control-center`.

Examples of labels turned into English:
- wifi and bluetooth menus in the status area (other menus are fine)
- calendar "today" tile (the rest of the calendar is fine)
- some labels in the docked applications cont

[2022-03-21 20:15] Neo-29 commented on #114
confirmed.....really annoying

French loccale here

result is mixed language too....

screenlock gdm concerned
an right click desktop menu too

[2022-03-27 11:05] Neo-29 opened #116 "Can´t build from AUR"
![image](https://user-images.githubusercontent.com/90937180/160278533-73c9edcb-4f83-4806-a0ae-33af943b0395.png)

Issue could be linked to #114  too

[2022-03-27 12:07] jmmaranan commented on #116
Hi @Neo-29, can you please try when locale/language is English?

[2022-03-27 13:20] Neo-29 commented on #116
You mean changing my locale into English?

[2022-03-27 13:28] jmmaranan commented on #116
Yes, please change your locale to English, try again and please send the build log with the error. From what I can see in the screenshot you sent, it seems it  cannot evaluate `/temp*` - just wondering if that is happening when the locale is English

[2022-03-27 13:46] Neo-29 commented on #116
![image](https://user-images.githubusercontent.com/90937180/160284518-a9d7b1a1-7026-4ffa-aa36-c67f088b98ec.png)

same

and if possible you have to solve the #114 issue cause of course I've got the same pb as the user
Forme me this is the best tiling extension I've ever used so I would be sad to avoid it because of that

[2022-03-27 14:12] jmmaranan commented on #116
Hi @Neo-29 - I think this has nothing to do with the locale. It looks like the AUR package script does not run `make build` when doing `make install`. (I honestly don't know how AUR works!)
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=gnome-shell-extension-forge#n19

[2022-03-27 14:15] Neo-29 commented on #116
The pkgbuild is not good for sure... I have no account on AUR so.. Won't warn him.

[2022-03-27 14:20] jmmaranan commented on #116
I do not have an AUR account as well. I reached out via comment to the script author in the Discussions:
https://github.com/jmmaranan/forge/discussions/115

Or I can probably update the Makefile on the next release.

[2022-03-27 14:33] Radeox commented on #116
Hi @Neo-29, I've updated the pkgbuild, now it should work correctly

[2022-03-27 14:42] Neo-29 commented on #116
Works perfectly now.
And the issue of French locale disappearing from the menus seems to be solved too

[2022-03-27 15:09] #116 closed

[2022-03-27 15:10] Neo-29 commented on #114
Seems to be solved at least from the package on AUR

[2022-03-27 17:29] jmmaranan commented on #116
Thank you both! 🎉👍😎

[2022-03-27 17:43] Neo-29 commented on #116
I still have an issue with gdm ( date)
Example instead of dimanche 27 mars
I have dimanche mars 27...

I'll check if still related to the extension

[2022-03-27 17:50] Neo-29 commented on #114
partially solved only
![image](https://user-images.githubusercontent.com/90937180/160293965-eed3c761-1835-478c-a148-0fc4adf531ef.png)

plus the date in gnome which is not correct in french

example : dimanche mars 27 instead of dimanche 27 mars

[2022-04-01 06:19] maymage opened #117 "Off Screen Close Button"
Hi all,

so while auto tiling works very well with modern GNOME apps, for some legacy apps with to large minimum width
already with only two windows the close button goes off screen, see the screen shot below with

* gnome-console opened first
* signal opened second, partially off screen

on the same workspace

![Console_Signal_1](https://user-images.githubusercontent.com/36572014/161205652-c69b6a

[2022-05-10 21:20] TS-CUBED opened #119 "bug: Gnome terminal tiling size is too small (or it has padding)"
**Describe the bug/issue**
When using the tiling function, most windows fit into the tiles nicely, but Gnome Terminal seems to be the wrong size. There's a gap at the bottom and the gaps between windows are too large.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate tiling
2. Open several windows, incl. Gnome Terminal
3. Check gaps

**Expected behavior**
Gnome Terminals should be til

[2022-05-10 23:09] jmmaranan commented on #119
Pop!_OS, I think, patched the Gnome terminal so what comes shipped with their OS works. I don't think any tiling extension can work around this unless the application is updated. I tried to add a change in pop-shell where I modified the WM_ parameters but it was too buggy and causes more issues.

[2022-05-11 10:25] jmmaranan commented on #119
Hey @TS-CUBED thank you for your support! I hope your students find it useful or an alternative without leaving gnome ;)

Yeah, it is a bit sad what happened between them. I thought gnome is shipping a new terminal with 42, named Console. That is if you, especially when teaching, would go with default apps to not overwhelm students like you said. I like Alacritty but config without UI fan be compl

[2022-05-11 11:53] TS-CUBED commented on #119
No worries, I don't put tiling on my students machines, so all they'll see is the regular Gnome desktop. I use the tiling myself, so can work around the issue. It's mildly annoying, though, not to be able to use the default terminal.
Will give alacritty a go.

Re Gnome 42: I'm thinking of going for RHEL9 when it comes out, to get some stability (also for the students' sake, since Pop_OS! updates k

[2022-05-11 11:55] TS-CUBED commented on #119
You seem to be right. Gnome terminal on Pop_OS! is a package that's different from the regular Ubuntu package.

Do you know what System76 will have patched?

[2022-05-12 21:35] TS-CUBED commented on #111
Thanks, was looking for this feature. Wasn't aware that Gnome had this. Bound to "<Super>r" on my setup, works a treat.

[2022-05-12 21:43] TS-CUBED opened #120 "Feature: Exclusion List for windows that should not be tiled but float"
First of all: Thanks for the great plugin. Came from i3/regolith and wanted something that allows me to work in a similar way and not scare my students. Tried Pop_OS! and Pop-Shell, and while that is nice I like Forge better.

One thing I'm missing is the option to create an exclusion-list of windows that should not be tiled. This would be useful for settings apps or such, which you bring up to ch

[2022-05-12 21:50] TS-CUBED opened #121 "bug: modal dialogues make window go half size"
**Describe the bug/issue**
When the "Attach Modal Dialogues" setting is active (Gnome Tweaks), as is the default, then the parent window gets half size (or reduced in size), as if the new daughter window is meant to be tiled next to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an app in tiling mode
2. Trigger a model dialogue window

**Expected behavior**
Windows should stay tile

[2022-05-13 13:00] xAspirus opened #122 "bug: Dragging windows is very laggy"

[2022-05-13 14:58] jmlc11 commented on #122
Same happening to me, cant post video files here to show a screen cast of the issue. but it only goes away if i turn off forge extension.

[2022-05-13 15:01] jmmaranan commented on #122
Do you have the OS version and which gome version are you on? This will help me triage what the issue is.

[2022-05-13 15:37] jmmaranan commented on #122
I see the issue @jmlc11 @xAspirus - I am sending the fix shortly

[2022-05-13 15:41] jmmaranan commented on #122
Hello @jmlc11 @xAspirus, would you be able to build from source? And see if this resolves it? https://github.com/jmmaranan/forge/tree/fix-update-decoration-lag.

[2022-05-14 14:03] jmmaranan commented on #120
Hi @TS-CUBED - this is a duplicate of #15. Closing this one
Thank you for the support @jmlc11!

[2022-05-14 14:03] #120 closed

[2022-05-15 09:11] xAspirus commented on #122
v46 has less lag but it still stalls sometimes. the stalling happens when the stacking hint is drawn.

[2022-05-15 09:13] xAspirus commented on #121
windows that should be floating by default:
dialog boxes
non-resizable windows
windows with small size

[2022-05-15 11:27] TS-CUBED commented on #15
This also affects any drop-down terminal apps or extensions (guake, ddterm) which need exceptions to float on top of tiled windows. At the moment these cannot be used.

Are there any news on this development?

[2022-05-16 12:55] TS-CUBED opened #124 "bug: Focus doesn't always follow the focused window when "focus follow mouse" is active"
**Describe the bug/issue**
When focus follows mouse is active, switching focus between windows (Super-HJKL) the mouse pointer/focus does not move into the new window. This can lead to unexpected behaviour, in particular when moving windows (Super-Shift-HJKL) since the focus may not move with the window and you end up in a constant "swapping" loop.

**To Reproduce**
Steps to reproduce the behavior:

[2022-05-17 14:17] mpiermar commented on #121
+1

[2022-05-18 10:52] xAspirus opened #125 "bug: impossible to tile large windows vertically"
**Describe the bug/issue**
A clear and concise description of what the bug is.

**To Reproduce**
1. Open Two Windows and Stack Them
2. Try to drag one window to tile vertically
3. Only horizontal tiling is hinted

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots or journal logs**
Provide screenshorts or screen captures if possible.
Also if possib

[2022-05-20 06:44] xAspirus opened #126 "Feature Request: Animate windows while tiling/stacking"
Animate windows while tiling or stacking them

[2022-05-27 21:36] jmmaranan commented on #121
@TS-CUBED - are you on Wayland or Xorg?

[2022-05-30 14:11] humanplayer2 commented on #15
Is there any chance that there is a run a command to invoke floating? Then one could run a script to run then float a single app.

[2022-06-03 02:48] jmmaranan commented on #124
Hi @humanplayer2, it could be a workaround, but I think the API change inside Forge would better orchestrate the mouse focus.

[2022-06-03 02:50] jmmaranan commented on #125
Hi @xAspirus - this was a design decision to not do the vertical splits on Stacked or Tabbed windows due to my lack of time and understanding on optimizing when the cons started nesting deeply with each other. I'll check I3's code on how I can port it to Forge.

[2022-06-03 02:55] jmmaranan commented on #117
@maymage - I'll see if I can do something about it - I think these are the _other_ options:

- Stack/Tab the windows automatically when the screen is too small (the screen size can be configurable when it starts doing this)
- Auto adjust the windows that's fallen off the active monitor/screen (this is a bit tricky)

[2022-06-03 03:02] jmmaranan commented on #15
I am not sure how to expose an extension's API running inside gnome-shell to other processes. One workaround I think is to send a command payload via dconf on a value that's being monitored by settings change inside Forge. I'll think about it.

[2022-06-03 07:07] maymage commented on #117
I think, at some point coming back stacking/tabbing is necessary, when too many windows are opened on a work space.

Also it can get somewhat unfair to penalise adaptive applications for e.g. electron ones.
However, there's for sure a small window of opportunity to get a better experience out of the box.

Thanks for your work to bring auto tiling on GNOME!

[2022-06-04 17:41] maymage opened #128 "Make the Icon an Action Target"
Hi all,

I'd like to suggest to make the top bar icon  a click-action target to turn tiling off and on.
This would save a click in contrast to how it is now, while  turning tiling off and on is - for me at least -
by far the most common interaction with the top bar icon.

Just like a night theme switcher works.

Best

---

PS: sorry for the bug label: I don't know how to change that..

[2022-06-04 18:12] jmmaranan commented on #128
Hello, that's doable I think. Any issues with the keyboard shortcut: Super + w? And will add more git issue templates for features.

[2022-06-04 18:31] maymage commented on #128
On my system `Super+W` isn't used for anything right now..

Perhaps Super+I is better, because of the danger of confusing with Ctrl+W.

[2022-06-04 22:01] #124 closed

[2022-06-04 22:11] jmmaranan commented on #124
@TS-CUBED - I went ahead and merged this. Let's re-open if it still does not work

[2022-06-18 12:31] TS-CUBED commented on #124
I guess this is not yet published? V46 on extensions.gnome.org is from May. Will there be a new release soon? Or do I need to install from github?

[2022-06-18 22:06] ForteDexe opened #131 "Tile focus hint still display after 'turn off' by UI button in top panel"
**Describe the bug/issue**
Tile focus hint still display after 'turn off' by UI button in top panel.
If turn off tile by keymap, the extension working correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to UI icon of this icon in top panel
2. Turn off tile (switch button)
**3. Move a window to over another window will display Tile Hint**

**Expected behavior**
Focus hint should not

[2022-06-19 01:26] #131 closed

[2022-06-19 01:40] jmmaranan commented on #124
Just published

[2022-06-19 09:19] harshkhandeparkar commented on #122
v49 still has this issue. It's better than before but still laggy.

[2022-06-19 13:01] jmmaranan commented on #122
@harshkhandeparkar - do you have a screen capture of this behavior? I am re-opening this.

[2022-06-19 18:11] harshkhandeparkar commented on #122
Sure I will send in a minute.

[2022-06-19 18:14] harshkhandeparkar commented on #122
https://user-images.githubusercontent.com/34770591/174494779-3985d735-ae8c-4d18-b206-0c5c5c3e2eaf.mp4

Used OBS to capture this.

[2022-06-19 18:16] harshkhandeparkar commented on #122
https://user-images.githubusercontent.com/34770591/174494862-89b9cba9-7366-453f-888b-c226eab3b7c4.mp4

Previous one did not preview for some reason.

[2022-06-19 19:15] harshkhandeparkar commented on #122
Also: GNOME 42.2, Arch Linux, X11
I also have Blur my Shell, Gnome 4x UI Improvements and Just Perfection in case you need this information. (although the issue persists even after turning these extensions off)
Forgot to mention earlier :)

[2022-06-19 19:21] jmmaranan commented on #122
Do you use integrated graphics or dedicated like Nvidia? I see the lag only when there's like 10+ windows - I am on Nvidia Fedora 36

[2022-06-19 21:31] jmmaranan commented on #122
Hi @harshkhandeparkar - I added some more optimizations on the sorting/looping. Would you be able to try the main branch?

[2022-06-20 03:06] harshkhandeparkar commented on #122
I do have dedicated Nvidia graphics and the screen runs at 144fps smoothly except while dragging. This is another screen recording, this time with the panel. It seems that the screen just stops rendering (notice the clock time on the panel) except for the cursor.

https://user-images.githubusercontent.com/34770591/174518177-f63478d7-ae96-42ba-a147-327dd75405d2.mp4

[2022-06-20 03:07] harshkhandeparkar commented on #122
I'll try in a few hours and let you know.

[2022-06-20 03:30] harshkhandeparkar commented on #122
https://user-images.githubusercontent.com/34770591/174520196-c8290550-490b-45cc-b6a1-0986c74bce3b.mp4

It doesn't lag if tiling mode is turned off.

[2022-06-20 10:40] harshkhandeparkar commented on #122
Found some more information. I use a laptop with an external mouse connected. If I drag the window using the mouse, it lags. But if I use the trackpad, it doesn't. Very strange behaviour.

[2022-06-20 10:42] harshkhandeparkar commented on #122
I also tried the master branch and it seems to have improved a lot but still laggy.

[2022-06-20 10:46] harshkhandeparkar commented on #122
I want to add to this. I also use an external keyboard and I tried typing on both keyboards once and it actually created a similar kind of issue. The screen just stops rendering while typing with both keyboards simultaneously. Don't know if this is an issue with wayland as well. I will investigate further and let you know.

[2022-06-24 19:09] #119 closed, assigned to nobody

[2022-06-24 20:05] jmmaranan commented on #59
This is already implemented

[2022-06-24 20:05] #59 closed

[2022-06-27 17:09] jmmaranan opened #132 "Provide window sub-menu to exempt the target window and its entire wm_class"

[2022-06-27 17:10] jmmaranan opened #133 "Users should be able to reset defaults for floating overrides."

[2022-06-27 18:03] #3 closed

[2022-06-27 18:03] #15 closed, assigned to nobody

[2022-06-27 18:03] #90 closed

[2022-06-27 18:57] jmmaranan commented on #128
Hi @maymage - I am assuming you are pertaining to the panel icon for Forge. If it is, I decided not to proceed with implementing this feature request: `when clicking the panel icon to toggle the tiling on/off`. The purpose of that icon is to open up a menu when clicked, it is just a few items at the moment.

You can override the keyboard shortcut to `<Super> + i` from the preferences. Sorry but I

[2022-06-27 18:57] #128 closed

[2022-06-27 19:07] jmmaranan commented on #23
Decided not to implement this and go with the GNOME defaults

[2022-06-27 19:07] #23 closed

[2022-06-27 19:10] #30 closed

[2022-06-27 19:16] jmmaranan commented on #70
FWIW, the current floating implementation works well with Forge - will revisit in future

[2022-06-27 19:16] #70 closed

[2022-06-28 12:42] s1m-e0n commented on #109
Hi @jmmaranan
Unfortunately, I have since changed systems and unable to test on that machine again. But I I have had no issues on Fedora 36 (Wayland) so far, although I didn't enable the extension for a while after switching and can't report whether it was working on Fedora all along. Sorry if that isn't much help, but for me everything works now.
Thank you very much making this extension.

[2022-06-29 23:20] jmmaranan commented on #122
Hi @harshkhandeparkar - I made more optimizations to the main branch. Can you try if it improved a bit on your end?

[2022-06-30 07:47] harshkhandeparkar commented on #122
yes sure!

[2022-06-30 07:51] harshkhandeparkar commented on #122
It is still quite unusable with mouse but dragging with trackpad is very smooth.

[2022-07-02 12:22] #126 closed

[2022-07-22 05:28] n-patiphon commented on #52
Looking forward to this. The addition of window resizing keybindings would be great!

[2022-08-08 16:56] robbins opened #135 "bug: Programs don't follow cursor position to determine which monitor to open on"
**Describe the bug/issue**
With the Forge extension disabled, new programs open on the monitor that the cursor is currently in. With this extension, they only open on one specific monitor all the time. (The specific monitor they open on depends on the monitor arrangement, if they're arranged horizontally it opens on the leftmost display, if vertically, the topmost.

**To Reproduce**
Steps to repro

[2022-08-13 15:43] jmmaranan commented on #135
Hi @robbins thanks for the report.

Do you have other windows opened? Currently, Forge will open/attach new windows on the right side of the currently focused window.

If there are no windows, it should open where the cursor is on.

[2022-08-13 15:47] jmmaranan commented on #135
Are you using Wayland?

[2022-08-14 16:55] aspizu commented on #122
I (@xAspirus) am on Version 52, and now I experience no lag. It has improved since. Thank you

[2022-08-14 16:57] aspizu opened #136 "bug: Cannot vertically tile two stacks or a stack and a window"

[2022-08-14 19:12] jmmaranan commented on #122
@aspizu - thank you - closing this one

[2022-08-14 19:12] #122 closed

[2022-08-14 19:15] aspizu commented on #125
i think you misunderstood the problem, the problem is when switching from stacked to tiled

[2022-08-14 21:20] jmmaranan commented on #125
Yes @aspizu - the bug description is vague. So I was guessing based on the steps provided. And when you drag/drop to a tabbed or stacked windows it only supports left/right tiling.

[2022-08-14 21:21] jmmaranan commented on #125
This looks like an entirely different behavior than what was originally reported

[2022-08-21 19:06] robbins commented on #135
Yes, this is on Wayland. Windows just always open on the topmost monitor, whether or not any existing windows are open or not, even if the focused window is on my laptop display.

[2022-08-26 12:09] jmmaranan commented on #135
Hey @robbins - I was able to reproduce this on Fedora 36, GNOME 42.
Will try to look over the weekend or so.

[2022-08-28 11:54] allaeddineomc opened #137 "Opening new window, resets resize percent to default on all workspaces"
**Describe the bug/issue**
when you open a new app window all other apps that are open and resized to anything other than the default sizes that forge chooses for them all the other apps go back to the default layout and the default size regardless of the workspaces they are on or the workspace you opened the new app in , all the windows will reset

**To Reproduce**
Steps to reproduce the behavior

[2022-08-30 19:23] tmayoff opened #138 "bug: Workspace closing unstacks windows"
**Describe the bug/issue**
I use multiple workspaces often in one of them I have Discord and Zulip stacked. When closing all windows in another workspace forcing it to close upon switching back to the workspace with stacked windows they become tiled.

Edit: It looks like it also happens when workspaces are created

**To Reproduce**
Steps to reproduce the behavior:
1. Open a window in workspace 1 (

[2022-08-30 23:56] jmmaranan commented on #138
Hi @tmayoff - do you have dynamic workspaces? It recreates the tree to get the _adjusted_ workspace indices as a temporary workaround.

[2022-08-31 00:18] tmayoff commented on #138
I do have dynamic workspaces enabled

[2022-09-02 23:41] jmmaranan commented on #135
Hey @robbins - not sure if you can test via the branch linked to this issue. Please let me know how it goes. Thanks!

[2022-09-02 23:44] jmmaranan commented on #138
Ok - I'll see what I can do, thanks for the report

[2022-09-02 23:45] jmmaranan commented on #137
Still looking to where the issue is 👀

[2022-09-03 14:45] jmmaranan commented on #137
Looks like I accidentally fixed this while coding for #135

[2022-09-11 01:25] #135 closed

[2022-09-11 01:25] #137 closed

[2022-09-11 01:25] #138 closed

[2022-09-11 18:48] jmmaranan commented on #111
The current workaround is to bound Window Resize to `<Super> + r` from Settings > Keyboard Shortcuts

[2022-09-12 14:48] tmayoff opened #141 "bug: Windows can't move between displays"
**Describe the bug/issue**
This has always been a minor recurring issues, (happening like once a week kind of thing), but after the last update it seems I can't move windows between displays at all. They just revert back to their tiled position on whatever window that were opened in.

This also affects the titlebar->right-click->move to monitor left/right, menu button

**To Reproduce**
Steps to re

[2022-09-13 01:53] jmmaranan commented on #141
Thanks for the report. It looks like the drag and drop optimizations have caused this. I brought back the functionality and as well as the drag/drop targets should be fixed as well.

[2022-09-13 01:54] #141 closed

[2022-09-15 16:58] tmayoff opened #143 "bug: drag drop tiling not working multiple workspaces"
**Describe the bug/issue**
This doesn't always happen, but sometimes if I open a window on my right monitor in workspace 1, then another in workspace 2 (same monitor) the tiling hints will be there as if they're on the same workspace, and they'll tile and stack as if there were on the same workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Open window in workspace 1
2. Open window in

[2022-09-15 17:13] jmmaranan commented on #143
Thanks @tmayoff, I appreciate as well the continued support of the extension.

From what I remember, able to draw hints on different workspaces (or monitors) from say window on ws1 and then dragging to ws2 (assuming workspace primary on display) was the original behavior. I removed or changed it because of a performance issue but found out it was because of the tab decorations but did not revert i

[2022-09-18 00:47] jmlc11 commented on #122
Yes, thank you!

[2022-09-22 18:59] jmmaranan commented on #143
Hi @tmayoff - if you can avoid `workspace on primary` - that would be the workaround for now.

[2022-09-22 19:37] tmayoff commented on #143
Sorry I guess I wasn't clear this happens on both monitors (I was just showing it on monitor 1), both with and without the `Workspace on Primary Display Only` setting enabled and disabled

[2022-09-22 21:39] jmmaranan commented on #143
Did you restart the shell when you turned off the workspace on primary? I will check again tonight.

[2022-09-22 23:56] tmayoff commented on #143
I did not I can try that tomorrow

[2022-09-23 14:33] tmayoff commented on #143
So it does still happen with both settings, and I do mainly use the workspace on all display setting anyways

[2022-09-24 14:19] jmmaranan commented on #143
@tmayoff - I can replicate it. Still working on the fix, probably by next week.

[2022-09-27 00:19] jmmaranan commented on #143
Hi @tmayoff - I think I got the fix - do you know if you can try the branch: `fix-drag-drop-monitor`. Otherwise, I'll just release it

[2022-09-27 12:18] #143 closed

[2022-09-27 14:19] tmayoff commented on #143
Just saw this now, I can still test it before you release it

[2022-09-27 14:36] tmayoff commented on #143
Wait so which problem was solved? Dragging between windows? Or Dragging with windows in other workspaces?

~So this doesn't seem to have fixed the issue, I removed the old version, cloned master ran `make install` (which failed due to the make script using `temp/*` as the source for the copy, so I changed it to `./*`) logged out and logged in and it still tries to tile with windows in other worksp

[2022-09-27 21:41] jmmaranan commented on #143
Thanks.
Fix should be for both cases. The workspace on primary being turned on is not included yet. You have to turn that off when testing.

[2022-09-27 22:14] cgross95 opened #145 "feat: Gnome 43 support"
**Is your feature request related to a problem? Please describe.**
Forge is not available on Gnome 43.

**Describe the solution you'd like**
The ability to install a version of Forge compatible with Gnome 43.

**Describe alternatives you've considered**
I added ['43' to the shell-version line in `metadata.json`](https://github.com/jmmaranan/forge/blob/4e5ad106cb2222426a47ec8009fb421d857502a0/metad

[2022-09-27 22:33] jmmaranan commented on #145
Hi @cgross95, thanks. Also you can do a PR. But I can add it in myself next release. Let me know

[2022-09-27 22:39] jmmaranan commented on #145
Not sure if this is what you are asking for: I package the source via `make dist`. This creates a zip file which I upload to the extensions gnome dot org. Then wait for review and then it gets available to everyone.

[2022-09-27 23:13] jmmaranan commented on #78
Added support for dynamic workspaces so it does not reset the tree when adding/removing workspaces.

[2022-09-27 23:20] cgross95 commented on #145
Great, thanks! I just sent a PR. I mostly wasn't sure if changing the shell-versions in the metadata is enough to get it fully working or if there's anything deeper that needs to be adjusted for newer versions of GNOME.

[2022-09-27 23:34] jmmaranan commented on #145
I usually follow this site. https://gjs.guide/extensions/#upgrading. At the moment, seems nothing new on the API. I also try to test it as much as I can. Or if user reports issues.

[2022-09-28 05:19] tmayoff commented on #143
Hmm I'll have to try again, I don't really ever use the 'workspace on primary only' setting I prefer to have workspaces on both monitors, and didn't seem fixed

[2022-09-28 14:03] tmayoff commented on #143
It's possible that for whatever reason it wasn't actually loading the development version of Forge, I keep getting this error `No JS module 'parse' found in search path`

[2022-09-29 01:43] jmmaranan commented on #143
What steps did you do to try it locally? I added a prettier setup but that should not impact running `make dev` or `make install`

[2022-09-29 02:02] jmmaranan commented on #143
I'll release it, we can eventually revisit if it still happens. Here is how the fix looks like on my side:

https://user-images.githubusercontent.com/348125/192921532-d0888210-c63c-4712-af2d-30c6c7177af2.mp4

[2022-09-29 02:05] jmmaranan commented on #145
Fixed by #146

[2022-09-29 02:05] #145 closed

[2022-09-29 17:46] tmayoff commented on #143
Fixed, thanks. I've had issues with manually adding extensions before, I guess I just screwed it up

[2022-10-01 10:07] aspizu opened #147 "`Tiled Focus Hint and Preview` color is applied to Shell Accent Color and Highlights"
The searchbar when focused has a outline of this color and app grid apps have a highlight of this color when hovered

[2022-10-01 11:39] jmmaranan commented on #147
Hi @aspizu, this is working as designed. Those styles are in the bottom of the stylesheet.css

[2022-10-01 20:50] aspizu commented on #147
but why?

[2022-10-01 22:45] jmmaranan commented on #147
I wanted to have the same style and color as the active hint when navigating and focusing the app drawer and search text, icons.

[2022-10-02 10:43] aspizu commented on #147
i don't think this belongs in this extension, i expect this extension to only do one thing - that is give me automatic tiling like tiling window managers.

[2022-10-02 12:25] jmmaranan commented on #147
Fine, I agree. Reopened

[2022-10-03 00:41] #49 closed

[2022-10-03 12:31] aspizu opened #149 "bug: alacritty window tiling is broken"
Alacritty stops being tiled when dragged

open Alacritty window and some other window, drag the alacritty window, alacritty stops being tiled and pressing the tile/floating toggle keybind just centers the alacritty window

[2022-10-04 23:11] jmmaranan commented on #149
@aspizu - I need more info. I installed Alacritty from `source`, `dnf` or using `cargo install` and they work just fine.
Can you provide OS, gnome-shell version. monitor setup and logs that can hopefully help troubleshoot more?

https://user-images.githubusercontent.com/348125/193947051-e78aee8e-5c46-4aa7-80a3-9aa91b4985e2.mp4

[2022-10-05 01:19] #147 closed

[2022-10-05 07:54] aspizu commented on #149
it fixed itself

[2022-10-05 07:54] #149 closed

[2022-10-05 20:13] jmmaranan commented on #149
Ok thanks!

[2022-10-05 20:21] jmmaranan commented on #136
Hi @aspizu - this looks like a duplicate of #125

[2022-10-06 22:10] #136 closed

[2022-10-12 06:45] SnoutBug opened #151 "bug: does not work with touchscreen or stylus"
**Describe the bug/issue**
Can't drag & drop windows using the touchscreen or stylus, the highlighted area is always at the location the mouse pointer would be.

**To Reproduce**
Steps to reproduce the behavior:
1. Use touchscreen or stylus to drag & drop windows

**Expected behavior**
Same behavior as with mouse.

**Version Information**
1. Arch 5.19.13
2. Forge version 57
3. GS 43
4. Wayland

**

[2022-10-12 23:20] jmmaranan commented on #151
Thanks for the report. Don't have a touchscreen to test/fix this on.

[2022-10-13 18:20] SnoutBug commented on #151
I'm guessing the solution would be something similar to [this](https://github.com/Schneegans/Fly-Pie/blob/3b919c5eb14328af8ba5645e1df29bc11984a2ff/src/extension/Menu.js#L78), this might be useful for anyone with the means to test these changes and enough experience to implement something like this. I will try my best, but I'm not certain that I will achieve any meaningful results.

[2022-10-13 21:38] jmmaranan commented on #151
Hi @SnoutBug did you notice anything on the logs? Any errors/stack traces? What other extensions do you have?

My thoughts are that the touchscreen hardware already acts like a mouse.

If the extension is disabled, are you able to drag drop windows? Also, helpful would be a video of the issue.

[2022-10-14 07:30] SnoutBug commented on #151
Yes, I am able to drag the window regardless.

On Wayland it seems to be possible to have multiple cursors, so the touchscreen has it's own cursor, so does the stylus and the mouse. `global.get_pointer()` only returns the mouse pointer and not the touchscreen position. At least this is how I understood it. This also explains the behavior seen in the video below:

[Screencast from 2022-10-14 09-23-

[2022-10-14 10:44] jmmaranan commented on #151
Ok, that's helpful. I'll point you to the part of the code that does the preview sometime this week if you want to try and fix it.

[2022-10-14 13:06] SnoutBug commented on #151
Sure, that would be wonderful!

[2022-10-14 18:56] humanplayer2 commented on #58
A scratchpad would be awesome!

If anyone should be interested in a weak approximation: I currently use the [Run or Raise extension](https://github.com/CZ-NIC/run-or-raise) to keep "scratchpads" of fixed windows (e.g., one for file manager instances, one for terminals). Run or Raise works very well for that. E.g.,

    <Super>e:move-window-to-active-workspace:minimize-when-unfocused,pcmanfm,Pcmanf

[2022-10-15 21:30] jmmaranan commented on #151
Hi @SnoutBug - the grab logic starts here to setup the selection of target windows going _underneath_ the dragged window: https://github.com/jmmaranan/forge/blob/4e5ad106cb2222426a47ec8009fb421d857502a0/window.js#L164.

The core is this function - which contains the `resizing` and `moving (dragging)` handlers: https://github.com/jmmaranan/forge/blob/4e5ad106cb2222426a47ec8009fb421d857502a0/window.

[2022-10-18 00:26] jmmaranan commented on #58
Thanks @humanplayer2 for the idea. I will play around with that extension and see what I can forge from it. 👀

[2022-10-21 10:39] jthomaschewski opened #152 "feat: "Always on top" for all floating windows"
In many tiling WMs (e.g. i3/sway) floating windows are by default "always on top" / "sticky".
It would be great to have this as a setting for forge as well.

Expected behavior: All Floating are always on top of all tiled windows => 2 global window layers: 1. floating, 2. tiled

BTW: Thanks for this extension. Best tiling experience on Gnome so far, feels more like i3/sway than the others I've trie

[2022-10-21 14:45] jmmaranan commented on #152
Hi @jthomaschewski - thanks for the report.
This was actually a feature when I initially added the floating mode that it would always display on top. I think I removed it because of the inconsistency with the hint border. But I'll consider adding a toggle on it on the prefs.js if some prefer that.

[2022-10-22 09:05] allaeddineomc opened #153 "bug : dynamic workspaces messes up tiling"
**Describe the bug/issue**
when a workspace is closed the tiling in the workspaces on it's right is messed up , the 2 workspaces on it's right gets treated like a single workspace (say both workspaces right to the closed one have one not maximized window each , the window in the 1st workspace will occupy half of the screen and leave the other half empty while the 2nd workspace will do the same but

[2022-10-25 23:43] jmmaranan commented on #153
Hi @allaeddineomc are you using dynamic workspaces? Thanks for the report and how do you close a workspace?

[2022-10-26 07:31] allaeddineomc commented on #153
yes , dynamic workspaces , by closing a workspace i mean closing all of it's windows or moving them to other workspaces so it gets closed , are dynamic workspaces an unsupported use case ?

[2022-10-26 11:09] jmmaranan commented on #153
Partially supported, I'll dig into it a little bit more. Can you also please share any logs while the issue is happening?

[2022-10-30 01:51] #67 closed

[2022-10-30 01:51] #94 closed

[2022-10-30 01:51] #152 closed

[2022-11-11 23:54] jolisper opened #156 "feat: <description>"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-12 00:59] jmmaranan commented on #156
@jolisper did you accidentally opened this?

[2022-11-12 01:06] #156 closed

[2022-11-13 03:37] jolisper commented on #156
Sorry @jmmaranan was totally accidentally

[2022-11-13 16:25] jmmaranan commented on #156
No worries, thanks!

[2022-11-13 19:25] CleoMenezesJr commented on #147
Unfortunately, it continues to change the accent color of almost everything. :/
It's a little annoying since someone installs the extension looking for Tile Window and not accent color.

[2022-11-13 19:33] jmmaranan commented on #147
Hi @CleoMenezesJr - the `stylesheet.css` should be the only place that the accent color would be coming from. Can you check if your `$HOME/.config/forge` is still using the outdated stylesheet and remove it manually? Or please try to reinstall the extension. Sorry for the inconvenience.

[2022-11-13 19:34] jmmaranan commented on #147
Also - please post a screenshot of where you are seeing this. thanks!

[2022-11-14 11:54] dhelonious opened #157 "bug: lock screen hides tab buttons"
**Describe the bug/issue**
After unlocking the screen on Ubuntu 22.04, the tab buttons are gone, but the windows are still grouped.

**To Reproduce**
Steps to reproduce the behavior:
1. Group some windows in tabbed mode
2. Lock and unlock screen
3. Tabs are missing

**Expected behavior**
The windows are still tabbed and the tab buttons are visible.

**Version Information**
1. Distro and version: U

[2022-11-14 13:54] jmmaranan commented on #157
I think this is due to the metaWindow focus being null after a while/after unlock. I will try to push the fix tonight or tomorrow.

[2022-11-16 09:13] ajfpay opened #158 "custom height tabbed"
I am just curious, can this tab size be set to decrease height?

![image](https://user-images.githubusercontent.com/53251872/202138395-b6e0da64-430f-45eb-9bd6-fa56d0546165.png)

[2022-11-16 11:43] jmmaranan commented on #158
Hey @ajfpay, yes we can or add it to preferences > appearance so it is more flexible.

Just making sure I understand correctly, you are talking about the height of the tab decoration that Forge creates, right?

[2022-11-16 12:04] ajfpay commented on #158
yes, the title bar font size is small and spaces top and bottom to more space, the size font
The title bar is perfect for me,
I think need to reduce the size and height for the perfect compact way

[2022-11-16 15:47] jmmaranan commented on #158
I also need to scale the app icon and close button icon. I'll see what I can do

[2022-11-21 21:58] wroyca opened #159 "Wayland: Application renderings are cut in half."
**Describe the bug/issue:**
the application renderings are cut in half.

**To Reproduce:**
This always happens when I open a new application or move a window. Use Forge as you normally would.

**Expected behavior**
The application should display correctly.

**Screenshots or journal logs**
![image](https://user-images.githubusercontent.com/91024200/203166275-5e999d8a-7518-4b2c-b17e-7fa94e53e961.png

[2022-11-22 00:10] jmmaranan commented on #159
Thanks for the logs. Looks like the theme.js does not work properly - will check more
[code]

[2022-11-22 01:27] wroyca commented on #159
There seems to be a conflict with [rounded-window-corners](https://github.com/yilozt/rounded-window-corners). Deactivating it fixed the conflict. Although, ideally, they should not conflict with each other.  😅

cc @yilozt

[2022-11-22 03:04] jmmaranan commented on #159
Hey @wroyca - seems to work well for me with the rounded corners installed on Gnome 42.3.1

[2022-11-22 03:05] wroyca commented on #159
How strange. o_o

[2022-11-22 06:48] yilozt commented on #159
It should be a problem specific to Gnome 43.1, I can reproduce this issue when I disable all extensions except  Forge:

**Step To Reproduce**

1. Enable tile mode of Forge
2. Open "gnome-extensions-app"
3. Open "gnome-control-center"
4. Close "gnome-control-center"
5. Now gnome-extensions-app left half part and can't be render correctly.

**Screenshots**

[Screencast from 2022-11-22 14-32-58.webm]

[2022-11-22 16:18] wroyca opened #160 "bug: forge crashes gnome-shell when opening applications (wayland)."
**Describe the bug/issue**
forge crashes gnome-shell when opening applications.

**To Reproduce**
It crashes as soon as I try to open an application.

**Logs**
[logs.txt](https://github.com/jmmaranan/forge/files/10069176/logs.txt)

**Version Information**
Forge 59

[code]

[code]

**Monitor Setup**
3840 x 2160 (16:9)
60.00 Hz
Landscape
200%

**Additional context**
I tried to uninstall and reinstal

[2022-11-22 18:15] jmmaranan commented on #160
I published a new version 59 in EGO, and had not updated the tags yet. Just got approval will update the release in repo soon

[2022-11-22 22:19] jmmaranan commented on #160
I will look into this tonight. @carnager @wroyca what's the exact gnome shell version you both have.

[2022-11-22 22:33] wroyca commented on #160
gnome-shell-43.1-3.fc38

[2022-11-22 23:03] carnager commented on #160
gnome-shell 1:43.1-2 (arch)

[2022-11-22 23:04] jmmaranan commented on #160
@wroyca - are you on Wayland? I can reproduce it on Wayland session gnome-shell-43.1-3.fc37

[2022-11-22 23:06] wroyca commented on #160
I use X11 as it cause less issues overall with gtk snapshot rendering

[2022-11-22 23:13] jmmaranan commented on #160
Ok - your log trace seems to show you were on wayland (or you did switch because of the issue).

[code]

Based on the Fedora backtrace, it seems to be an issue on mutter -> meta_window_update_monitor. I think it is a call from Forge `metaWindow.move_resize_frame` - this call is needed so tiling window managers can position the windows after calculating the rects.

Looking now into mutter wayland c

[2022-11-22 23:15] jmmaranan commented on #160
That's ok - thanks for the prompt responses. I think, **sad to say**, the workaround is to _stay away_ from wayland.

[2022-11-22 23:17] jmmaranan commented on #159
Hi @yilozt @wroyca - I can see this on gnome 43 x11. Thank you for confirming and doing some testing. Will look more.

[2022-11-22 23:25] jmmaranan commented on #160
Sorry for the inconvenience if you need Wayland for work. Please disable my extension for the time being while I am doing research.

[2022-11-22 23:31] wroyca commented on #160
Don't worry, thanks for your work! 🎉

[2022-11-23 00:20] jmmaranan commented on #160
I think I found the issue, I did a git bisect seems to point to this commit:
`* b36660d - Make float open centered always (3 weeks ago) <Jose Maranan>`

And the culprit seems to be the added `nodeWindow.isFloat()`

[2022-11-23 00:27] jmmaranan commented on #160
Hi @wroyca - do you know if you are able to try the branch : `fix-crash-float-center-wayland`

[2022-11-23 00:28] jmmaranan commented on #160
Version 58 should have worked. Version 59 included the issue.

[2022-11-23 00:36] jmmaranan commented on #159
This looks like it is also fixed on the fix I have for #160 for gnome 43 on x11. If anyone can verify that branch, would be great and will publish to EGO.

[2022-11-23 00:53] wroyca commented on #160
It fixed the crash for wayland. :)

[2022-11-23 00:54] wroyca commented on #159
Unfortunately still present on wayland :(

[2022-11-23 00:55] wroyca commented on #159
Oh my bad* you said for X11. *still half-asleep*. I'll check X11

[2022-11-23 01:24] jmmaranan commented on #159
Ok, I'll check again tomorrow. I'll publish the fix for #160 in a while

[2022-11-23 01:25] #160 closed

[2022-11-23 01:27] jmmaranan commented on #157
HI @dhelonious - can you please check if the latest update v59 fixes this? Please test in X11 - will be publishing v60 soon to fix Wayland crash

[2022-11-23 11:26] dhelonious commented on #157
@jmmaranan I can confirm that the latest update fixes this issue in X11, thanks!

[2022-11-23 11:26] #157 closed

[2022-11-23 12:50] jmmaranan commented on #157
Thanks for confirming!

[2022-11-24 00:32] jmmaranan commented on #159
Hi @wroyca - I cannot replicate this on Wayland v58 - I am on FC37 using Boxes. I was able to see this on X11 v59. Meaning it would not have seen the issue on v59 because it crashes.

[2022-11-24 00:59] wroyca commented on #159
Weird. It could be related to something else on my system that affected it

[2022-11-26 21:54] jmmaranan commented on #159
Hi @wroyca - the only way I can reproduce it in Wayland on FC 37 gnome 43.1 is when installed alongside Rounded Window Corners. If that extension is disabled, it works.

Also, it looks like X11 is pretty bad right now on gnome 43.1, as mentioned on https://github.com/yilozt/rounded-window-corners/issues/95

![image](https://user-images.githubusercontent.com/348125/204110236-fd3628cc-bf6c-4f21-b7c2

[2022-11-26 21:56] wroyca commented on #159
Correct, you can track: https://gitlab.gnome.org/GNOME/gnome-shell/-/issues/6054 for more information

[2022-11-29 13:27] maymage commented on #159
Happens for me too on Debian Sid, Wayland and exclusively with the rounded corner extension.